@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
.gray {
  color: #828282;
  transition: color 0.3s linear;
}
.gray:hover {
  color: #0f0f0f;
}

.hor-line {
  height: 1px;
  width: 80%;
  background: #000;
  margin: auto;
}

.hor-line2 {
  height: 1px;
  width: 80%;
  background: #000;
  margin: 0 auto 0 auto;
}

.header {
  width: 80%;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}
.header__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}
.header__link {
  font-family: "Questrial", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  text-decoration: none;
}

.info {
  width: 80%;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}
.info .myname, .info .myjob, .info .langs {
  flex-basis: 33%;
  color: #070707;
  font-family: "Questrial", sans-serif;
}
.info .myname {
  font-size: 48px;
  line-height: 59px;
  font-weight: bold;
  text-align: left;
}
.info .myjob {
  margin-top: 60px;
  text-align: center;
  font-size: 18px;
}
.info .langs {
  margin-top: 10px;
  text-align: right;
}
.info .langs .lang {
  font-weight: 600;
  position: relative;
  margin-top: 15px;
}

.myphoto {
  width: 80%;
  height: 45%;
  background-image: url("../imgs/myphoto.jpg");
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
  background-size: 100%;
  background-position: 50% 10%;
  border: 4px solid black;
  border-radius: 4px;
  position: relative;
}
.myphoto__glass {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(30deg, #000, rgb(155, 155, 155));
  opacity: 0.6;
  transition: opacity 0.4s linear;
}
.myphoto__glass:hover {
  opacity: 0;
}

.about-me {
  width: 80%;
  height: 45%;
  background-color: #f6f6f6;
  margin-left: auto;
  margin-right: auto;
  padding-top: 70px;
  text-align: center;
  font-family: "Questrial", sans-serif;
}
.about-me__h2 {
  margin-bottom: 30px;
  font-size: 34px;
  line-height: 22px;
}
.about-me__p {
  font-size: 18px;
  line-height: 22px;
}

.contacts {
  width: 80%;
  height: auto;
  margin: 60px auto 100px auto;
  text-align: center;
}
.contacts_h1 {
  font-family: "Questrial", sans-serif;
  text-transform: uppercase;
}
.contacts .contsoc {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-column-gap: 50px;
  grid-row-gap: 40px;
  justify-content: space-around;
  margin-top: 60px;
}
.contacts .contsoc .card {
  width: 50%;
  height: 350px;
  background-color: #bfbfbf;
  padding-top: 20px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}
.contacts .contsoc .card_h2 {
  font-size: 25px;
  font-family: "Questrial", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}
.contacts .contsoc .card_ttres {
  text-transform: none;
}
.contacts .contsoc .card_img {
  width: 50%;
  height: 50%;
  margin: 100px auto 0px auto;
  display: block;
}
.contacts .contsoc .card_tg {
  background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/Telegram_font_awesome.svg/1024px-Telegram_font_awesome.svg.png") no-repeat;
  background-size: 100%;
}
.contacts .contsoc .card_inst {
  background: url("https://cdn-icons-png.flaticon.com/512/1400/1400829.png") no-repeat;
  background-size: 100%;
}
.contacts .contsoc .card_github {
  background: url("https://cdn-icons-png.flaticon.com/512/25/25231.png?w=360") no-repeat;
  background-size: 100%;
}
.contacts .contsoc .card_steam {
  background: url("https://toppng.com/public/uploads/thumbnail/steam-logo-png-steam-logo-black-11563631869yky0wulhva.png") no-repeat;
  background-size: 100%;
}
.contacts .contsoc .card_fb {
  background: url("https://www.artwebnews.com/wp-content/uploads/2022/03/ca3bf05cfab74677e5b73b130bd30991-1.png") no-repeat;
  background-size: 100%;
}
.contacts .contsoc .card_linkedin {
  background: url("https://cdn-icons-png.flaticon.com/512/49/49656.png") no-repeat;
  background-size: 100%;
}

.skills {
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 150px;
  font-family: "Questrial", sans-serif;
}
.skills__h2 {
  font-size: 34px;
  line-height: 42px;
}
.skills__p {
  font-size: 18px;
  line-height: 22px;
}
.skills__items {
  width: 100%;
  height: 600px;
  margin-top: 70px;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-column-gap: 50px;
  grid-row-gap: 20px;
  justify-content: space-around;
}
.skills__items .item {
  width: 100%;
  height: 100%;
  padding-top: 10px;
}
.skills__items .item div {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  background-size: 40%;
  background-position: 50% 10%;
  background-repeat: no-repeat;
}
.skills__items .item p {
  font-size: 18px;
  font-style: italic;
}
.skills__items .item .html {
  background-image: url("https://cdn.icon-icons.com/icons2/1488/PNG/512/5352-html5_102567.png");
}
.skills__items .item .css {
  background-image: url("https://cdn.icon-icons.com/icons2/2107/PNG/512/file_type_css_icon_130661.png");
}
.skills__items .item .js {
  background-image: url("https://cdn.icon-icons.com/icons2/2107/PNG/512/file_type_js_official_icon_130509.png");
}
.skills__items .item .gulp {
  background-image: url("https://cdn.icon-icons.com/icons2/2107/PNG/512/file_type_gulp_icon_130557.png");
}
.skills__items .item .git {
  background-image: url("https://cdn.icon-icons.com/icons2/2107/PNG/512/file_type_git_icon_130581.png");
}
.skills__items .item .scss {
  background-image: url("https://cdn.icon-icons.com/icons2/2107/PNG/512/file_type_scss_icon_130177.png");
}

.portfolio {
  width: 80%;
  height: 100vh;
  text-align: center;
  margin: 15px auto 0px auto;
  padding-top: 150px;
}
.portfolio_h1 {
  font-size: 48px;
  font-family: "Questrial", sans-serif;
}
.portfolio_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 40px;
}
.portfolio_grid .contcolm {
  width: 100%;
  height: 50vh;
  padding-top: 30px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-row-gap: 10px;
}
.portfolio_grid .contcolm .site {
  text-align: left;
  width: 100%;
  height: 50px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  background-color: #c0c0c0;
  border-radius: 30px;
  padding: 10px 20px 0 30px;
}
.portfolio_grid .contcolm .site_p {
  margin-top: 5px;
  font-size: 20px;
  color: #000;
  display: inline;
  float: left;
  font-family: "Questrial", sans-serif;
}
.portfolio_grid .contcolm .site_link {
  display: none;
  width: 50px;
  height: 30px;
  background: url("https://www.shareicon.net/data/128x128/2016/10/11/842709_go_512x512.png") no-repeat;
  background-size: 50%;
  background-position: 20% 50%;
  position: relative;
  left: 90%;
  transition: left 0.3s linear;
}
.portfolio_grid .contcolm .site_link:hover {
  left: 87%;
}
.portfolio_grid .contcolm .site .active {
  display: block;
}

.contacts {
  width: 80%;
  height: auto;
  margin: 60px auto 100px auto;
  text-align: center;
}
.contacts_h1 {
  font-family: "Questrial", sans-serif;
  text-transform: uppercase;
}
.contacts .contsoc {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-column-gap: 50px;
  grid-row-gap: 40px;
  justify-content: space-around;
  margin-top: 60px;
}
.contacts .contsoc .card {
  width: 50%;
  height: 350px;
  background-color: #bfbfbf;
  padding-top: 20px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}
.contacts .contsoc .card_h2 {
  font-size: 25px;
  font-family: "Questrial", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}
.contacts .contsoc .card_ttres {
  text-transform: none;
}
.contacts .contsoc .card_img {
  width: 50%;
  height: 50%;
  margin: 100px auto 0px auto;
  display: block;
}
.contacts .contsoc .card_tg {
  background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/Telegram_font_awesome.svg/1024px-Telegram_font_awesome.svg.png") no-repeat;
  background-size: 100%;
}
.contacts .contsoc .card_inst {
  background: url("https://cdn-icons-png.flaticon.com/512/1400/1400829.png") no-repeat;
  background-size: 100%;
}
.contacts .contsoc .card_github {
  background: url("https://cdn-icons-png.flaticon.com/512/25/25231.png?w=360") no-repeat;
  background-size: 100%;
}
.contacts .contsoc .card_steam {
  background: url("https://toppng.com/public/uploads/thumbnail/steam-logo-png-steam-logo-black-11563631869yky0wulhva.png") no-repeat;
  background-size: 100%;
}
.contacts .contsoc .card_fb {
  background: url("https://www.artwebnews.com/wp-content/uploads/2022/03/ca3bf05cfab74677e5b73b130bd30991-1.png") no-repeat;
  background-size: 100%;
}
.contacts .contsoc .card_linkedin {
  background: url("https://cdn-icons-png.flaticon.com/512/49/49656.png") no-repeat;
  background-size: 100%;
}